body{
font-family:Arial;
background:#f2f6ff;
display:flex;
justify-content:center;
}

.container{
background:white;
padding:30px;
margin-top:50px;
width:350px;
border-radius:12px;
box-shadow:0 0 15px lightgray;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:10px;
background:#2563eb;
color:white;
border:none;
}

.item{
display:flex;
justify-content:space-between;
padding:10px;
background:#eee;
margin-top:10px;
}